@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
  outline: none;
}

strong {
  font-weight: 600;
}
header .rightBox {
  float: right;
  margin-right: 95px;
  margin-top: 8px;
}
#cred {
  padding: 10px;
  box-shadow: none;
}
.leftBox {
  float: left;
}
#logo {
  padding: 0;
  margin-left: 40px;
  margin-top: 8px;
}
#centerLogo {
  width: 200px;
  height: 200px;
}
.page {
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/home.jpg');
  background-size: cover;
  background-position: center;
  font-family: 'Encode Sans Condensed', sans-serif;
  font-weight: 600;
  letter-spacing: 0.03em;
  color: #212121;
}

#esummit {
  font-size: 21px;
  margin-top: 25px;
}

#esummit:hover i {
  color: #000;
  transition: 1s;
}

header {
  position: fixed;
  width: 100%;
  height: 70px;
  background: transparent;
  color: #000;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

main .content {
  padding: 70px 20px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

.content h1 {
  font-size: 70px;
  color: white;
  letter-spacing: 0px;
}

.content h2 {
  color: darkcyan;
  text-shadow: 3px #333;
}

main h2 span {
  color: #bf7497;
}

main p {
  line-height: 1.5;
  font-weight: 200;
  margin: 20px 0;
}

main small {
  font-weight: 300;
  color: #888;
}

#nav-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  pointer-events: none;
}
#nav-container .bg {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  background: #000;
}
/* #nav-container:focus-within .bg {
  visibility: visible;
  opacity: 0.6;
} */
#nav-container * {
  visibility: visible;
}

.button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 70px;
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
  margin-right: 45px;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  float: right;
}
.icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  background: #aaa;
  transition: 0.3s;
}
.icon-bar + .icon-bar {
  margin-top: 5px;
}

#nav-container:focus-within .button {
  pointer-events: none;
}
#nav-container:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0, 8px, 0) rotate(45deg);
}
#nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}
#nav-container:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0, -8px, 0) rotate(-45deg);
}

#nav-content {
  margin-top: 70px;
  padding: 20px;
  width: 90%;
  max-width: 300px;
  position: absolute;
  top: 0;
  right: 0;
  height: calc(100% - 70px);
  background: #212121;
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateX(100%);
  transition: transform 0.3s;
  will-change: transform;
  contain: paint;
  color: #aaa;
}

#nav-content ul {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#nav-content li a {
  padding: 10px 5px;
  display: block;
  text-transform: uppercase;
  transition: color 0.1s;
}

#nav-content li a:hover {
  color: #bf7497;
}

#nav-content li:not(.small) + .small {
  margin-top: auto;
}

.small {
  display: flex;
  align-self: center;
}

.small a {
  font-size: 12px;
  font-weight: 400;
  color: #888;
}
.small a + a {
  margin-left: 15px;
}

#nav-container:focus-within #nav-content {
  transform: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:focus,
a:active,
a:link {
  text-decoration: none;
  outline: 0;
}

a {
  color: currentColor;
  transition: 0.2s ease-in-out;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}
