@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
  outline: none;
}

strong {
  font-weight: 600;
}
header .rightBox {
  float: right;
  margin-right: 95px;
  margin-top: 8px;
  display: flex;
  align-items: center;
}
#signup {
  padding: 8px;
  box-shadow: none;
  margin-top: 8px;
  border-radius: 30px;
  width: 80px;
  color: #fff;
  border-color: #fff;
}
#login {
  color: #fff;
  border: none;
  box-shadow: none;
  margin-top: 8px;
}
.leftBox {
  float: left;
}
#logo {
  padding: 0;
  margin-left: 30px;
  margin-top: 8px;
}
#centerLogo {
  width: 200px;
  height: 200px;
}

.page {
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/ecellbg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: 600;
  letter-spacing: 0.03em;
  color: #212121;
}

#esummit {
  font-size: 21px;
  margin-top: 25px;
}

#esummit:hover i {
  color: #000;
  transition: 1s;
}

/* social links */
.social {
  display: flex;
  flex-direction: column;
  float: left;
  font-size: 30px;
  color: #fff;
  position: absolute;
  bottom: 70px;
  left: 30px;
  align-items: center;
  justify-content: center;
}
.social > a:hover {
  color: rgb(0, 0, 0);
  transition: 0.5s;
}

.social i {
  padding: 5px;
}
.socialside {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-top: 40px;
}
.socialside i {
  padding: 0 10px 0 10px;
}

header {
  position: fixed;
  width: 100%;
  height: 70px;
  background: transparent;
  color: #000;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

main .content {
  padding: 70px 20px 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  z-index: 5;
}

.content h1 {
  font-size: 5vw;
  color: white;
  letter-spacing: 0px;
  text-shadow: 3px 3px 3px #333;
  text-transform: uppercase;
}

.content h2 {
  color: #fff;
  font-weight: 300;
  text-shadow: 3px 3px 3px #333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2vw;
  margin-top: 15px;
}

main h2 span {
  color: #bf7497;
}

main p {
  line-height: 1.5;
  font-weight: 200;
  margin: 20px 0;
}

main small {
  font-weight: 300;
  color: #888;
}

#nav-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  pointer-events: none;
  z-index: 100000;
}
#nav-container .bg {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  background: #000;
}
/* #nav-container:focus-within .bg {
  visibility: visible;
  opacity: 0.6;
} */
#nav-container * {
  visibility: visible;
}

.button {
  /*sidebar button*/
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 70px;
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
  margin-right: 45px;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  float: right;
}
.icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  background: #aaa;
  transition: 0.3s;
}
.icon-bar + .icon-bar {
  margin-top: 5px;
}

#nav-container:focus-within .button {
  pointer-events: none;
}
#nav-container:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0, 8px, 0) rotate(45deg);
}
#nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}
#nav-container:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0, -8px, 0) rotate(-45deg);
}

#nav-content {
  margin-top: 70px;
  padding: 20px;
  width: 90%;
  max-width: 300px;
  position: absolute;
  top: 0;
  right: 0;
  height: calc(100% - 70px);
  background: #212121;
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateX(100%);
  transition: transform 0.3s;
  will-change: transform;
  contain: paint;
  color: #aaa;
  z-index: 1;
}

#nav-content ul {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#nav-content li a {
  padding: 10px 5px;
  display: block;
  text-transform: uppercase;
  transition: color 0.1s;
}

#nav-content li a:hover {
  color: #bf7497;
}

#nav-content li:not(.small) + .small {
  margin-top: auto;
}

/* .small {
  display: flex;
  align-self: center;
}

.small a {
  font-size: 12px;
  font-weight: 400;
  color: #888;
}
.small a + a {
  margin-left: 15px;
} */

#nav-container:focus-within #nav-content {
  transform: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:focus,
a:active,
a:link {
  text-decoration: none;
  outline: 0;
}

a {
  color: currentColor;
  transition: 0.2s ease-in-out;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

/* mobile display */
@media only screen and (max-width: 600px) {
  header .rightBox {
    float: right;
    margin-right: 95px;
    margin-top: 8px;
    display: flex;
    align-items: center;
  }

  #signup {
    padding: 8px;
    box-shadow: none;
    margin-top: 8px;
    border-radius: 30px;
    width: 80px;
    color: #fff;
    border-color: #fff;
  }
  #login {
    color: #fff;
    border: none;
    box-shadow: none;
    margin-top: 8px;
  }

  #logo {
    padding: 0;
    margin-left: 10px;
    margin-top: 8px;
  }
  #centerLogo {
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
  }

  main .content {
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
  }

  .content h1 {
    font-size: 10vw;
    color: white;
    letter-spacing: 0px;
    text-shadow: 3px 3px 3px #333;
    text-align: center;
  }

  .content h2 {
    color: khaki;
    font-size: 6vw;
    text-shadow: 3px 3px 3px #333;
    padding-bottom: 10px;
  }
  .button {
    margin-right: 15px;
  }
  .social {
    left: 10px;
    font-size: 25px;
    bottom: 150px;
  }
  .socialside {
    font-size: 15px;
    margin-top: 10px;
  }
}
