.ctn-2{
  padding: 0px 30px;
  font-size: 1rem;
  margin-top: 40px;
}
.about-heading h1{
  text-align: center;
  font-size: 2rem;
}
.head-line{
  margin: auto;
  width: 300px;
}
.heading-line{
  border-radius: 5px;
  padding: 2px;
  width: 100px;
  background-color: white;
  margin-left: 140px;
  margin-bottom: 20px;
}
.text-5{
  font-size: 0.9rem;
  line-height: 1.3rem;
  margin: 0 15px 0 0;
}
.fb-img{
  max-width: 60%;
  margin: 15px;
}

@media(min-width: 768px){
  .ctn-2{
    margin-top: 100px;
  }
  .about-heading h1{
    text-align: left;
    font-size: 3rem;
    margin-left: 10px;
  }
  .fb-img{
    max-width: 110%;
  }
  .ctn-2 h5{
    font-size: 2rem;
  }
  .heading-line{
    margin-bottom: 50px;
  }
  .text-5{
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .head-line{
    margin: 0;
  }
  .heading-line{
    width: 120px;
  }
  .fb-img{
    max-width: 80%;
  }
}