.ctn-2{
  max-width: 1500px;
  padding-top: 45px;
  padding-bottom: 80px;
  height: 100%;
}
.about-heading{
  padding: 30px 10px;
  font-size: 37.5px;
  font-weight: 600;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading-line{
  height: 2px;
  width: 150px;
  background-color: white;
  margin-left: 80px;
  border-radius: 360px;
}
.sub-head{
  font-size: 27.5px;
  font-weight: 300;
  padding: 0 20px;
  text-align: center;
}
.text-5{
  font-size: 22.5px;
  line-height: 35px;
  margin: 0 15px 0 0;
}
.about-image{
  padding: 30px;
}
.fb-img{
  max-width: 100%;
}
@media only screen and (max-width: 1000px) {
  .ctn-2{
    margin-top: 0px;
  }
  .about-heading{
    padding: 15px 20px;
    font-size: 27.5px;
  }
  .heading-line{
    width: 85px;
    margin-left: 35px;
    height: 2.5px;
  }
  .text-section{
    padding-top: 50px;
  }
  .sub-head{
    font-size: 27.5px;
    text-align: center;
  }
  .text-5{
    font-size: 20px;
  }
  .fb-img {
    max-width: 50%;
    margin: 15px;
  }
}
@media only screen and (max-width: 800px) {
  .ctn-2{
    margin-top: 0px;
  }
  .sub-head{
    text-align: center;
  }
  .about-heading{
    padding: 15px 20px;
    font-size: 25px;
  }
  .heading-line{
    width: 85px;
    margin-left: 35px;
    height: 2px;
  }
  .text-5{
    font-size: 17.5px;
  }
  .fb-img {
    max-width: 70%;
    margin: 15px;
  }
}
@media only screen and (max-width: 600px) {
  .ctn-2{
    margin-top: 50px;
  }
  .about-heading{
    padding: 10px 20px;
    font-size: 22.5px;
  }
  .heading-line{
    width: 85px;
    margin-left: 35px;
    height: 2.5px;
  }
  .sub-head{
    font-size: 20px;
    text-align: center;
  }
  .text-section{
    padding-top: 10px;
  }
  .text-5{
    font-size: 15px;
    line-height: 20px;
  }
  .about-image{
    margin: 15px 0;
  }
  .fb-img {
    max-width: 70%;
    margin: 0;
  }
}