.ctn-6{
  max-width:  1500px;
  padding-top: 45px; 
  padding-bottom: 80px;
  height: 100%;
  }
  .info-section{
    border-left: 2px solid white;
  }
  .oc-name{
    margin: 0;
    font-size: 15px;
  }
  .oc-contact{
    padding: 5px;
  }
  .contact-heading{
    padding: 20px 10px;
    font-size: 37.5px;
    font-weight: 600;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .heading-line{
    height: 2px;
    width: 150px;
    background-color: white;
    margin-left: 80px;
    border-radius: 360px;
  }
  .con-sub-head{
    font-size: 30px;
    font-weight: 300;
    padding: 20px;
    text-align: center;
  }
  .contact-row{
    margin: 10vh;
  }
  input{
    margin: 7.5px;
    width: 90%;
    border-radius: 5px;
    padding: 10px;
    font-weight: 500;
    color: white;
    border: 3px solid white;
    background-color: #000037;
  }
  
  textarea{
    margin: 7.5px;
    width: 90%;
    border-radius: 5px;
    padding: 8px;
    font-weight: 600;
    color: white;
    border: 3px solid white;
    background-color:  #000037;
    height: 150px;
  }  
  .submit{
    margin: 2px 5px;
    padding: 15px 30px;
    color: white;
    background: maroon;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 5px;
  }
  .summary{
    font-size: 20px;
    text-align: center;
    padding: 10px;
    margin-bottom: 0;
    line-height: 30px;
  }
  .mobile-number{
    padding: 10px;
    font-size: 20px;
  }
  .legal{
    font-size: 17.5px;
    padding: 15px;
  }
  .social-icons{
    font-size: 15px;
    margin: 0;
  }
  .fab{
    font-size: 30px;
    margin: 10px;
  }

  @media only screen and (max-width: 1000px) {
    .ctn-6{
      padding-top: 100px;
    }
    .info-section{
      border: none;
      padding: 20px;
    }
    .contact-heading{
      padding: 15px 20px;
      font-size: 27.5px;
    }
    .heading-line{
      width: 85px;
      margin-left: 35px;
      height: 2.5px;
    }
    .con-sub-head{
      font-size: 22.5px;
      padding: 7.5px;
    }
    .row{
      margin: 5vh;
    }
    input{
      margin: 5px;
      width: 80%;
      padding: 7.5px;
    }
    textarea{
      margin: 5px;
      width: 80%;
      padding: 7.5px;
      height: 100px;
    }
    .submit{
      margin: 1px 3px;
      padding: 10px 20px;
      font-size: 15px;
    }
    .summary{
      font-size: 17.5px;
      text-align: center;
      padding: 10px;
    }
    .mobile-number{
      padding: 5px;
      font-size: 17.5px;
    }
    .legal {
      font-size: 15px;
      padding: 10px;
    }
    .social-icons {
      font-size: 12.5px;
      margin: 0;
    }
  }
  @media only screen and (max-width: 800px) {
    .ctn-6{
      padding-top: 80px;
    }
    .info-section{
      border: none;
    }
    .contact-heading{
      padding: 15px 20px;
      font-size: 25px;
    }
    .heading-line{
      width: 85px;
      margin-left: 35px;
      height: 2px;
    }
    .con-sub-head{
      font-size: 20px;
      padding: 5px;
    }
    .row{
      margin: 2.5vh;
    }
  }
  @media only screen and (max-width: 600px) {
    .info-section{
      border: none;
      padding: 10px;
    }
    .contact-heading{
      padding: 10px 20px;
      font-size: 22.5px;
    }
    .heading-line{
      width: 85px;
      margin-left: 35px;
      height: 2.5px;
    }
    .con-sub-head{
      font-size: 17.5px;
      padding: 5px;
    }
    .row{
      margin: 0.5vh;
    }
    input{
      margin: 3px;
      width: 80%;
      padding: 2.5px;
      border: 2px solid white;
    }
    textarea{
      margin: 3px;
      width: 80%;
      padding: 2.5px;
      height: 80px;
      border: 2px solid white;
    }
    .submit {
      margin: 0;
      padding: 5px 10px;
      font-size: 10px;
    }
    .summary {
      font-size: 10px;
      padding: 5px;
      line-height: 15px;
    }
    .mobile-number {
      padding: 2px;
      font-size: 12.5px;
    }
    .legal {
      font-size: 10px;
      padding: 7.5px;
    }
    .social-icons {
      font-size: 10px;
      margin: 0;
    }
    .fab{
      font-size: 20px;
      margin: 7.5px;
    }
  }