.s1 {
  background-color: #010103;
  height: 100vh;

  color: white;
  text-align: center;
}

.s2 {
  background-color: #000080;
  height: 100vh;
  color:#fff;
  text-align: center;
}
.s3 {
  background-color: rgb(7, 0, 41);
  height: 100vh;
  color: #000;
  text-align: center;
}

.s4 {
  background-color: #000080;
  height: 100vh;
  
  color: #fff;
  text-align: center;
}

#next {
  margin-top: 45px;
  border-color: #fff;
  color: #fff;
}
#next:hover {
  background-color: #fff !important;
  transition: 1s;
  color: #000;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #fff !important;
}

.nav {
  position: fixed;
  top: 0;
}