.mainCtn{
  padding-top: 75px; 
  padding-bottom: 80px;
}

.whole-gallery{
        background: #00012D !important;  /* fallback for old browsers */
        /* background: -webkit-linear-gradient(20deg, #dc2430, #7b4397) !important;  /* Chrome 10-25, Safari 5.1-6 */
        /* background: linear-gradient(20deg, #dc2430, #7b4397) !important; W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}

.lgback{
    background: white;
    color: #8C3D85 !important;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}

.gal-link{
    margin-bottom: 30px;
}

.yearWise-gal-link{
  background-color: transparent;
  padding: 20px 30px;
  text-align: center;
}

.yearWise-gal-linkBtn{
  padding: 10px 30px;
  font-size: 20px;
  font-weight: 700;
  color: #00012D;
  background-color: white;
  border-radius: 0.25rem;
  cursor: pointer;
}

.header66{
    text-align: center;
    margin-bottom: 80px;
    color: white;
    background: black;
    border: 1px dotted black;
    border-radius: 20px 0;
    padding: 10px;
    font-weight: 800;
    font-size: 40px;
    letter-spacing: 1px;
    box-shadow: 0px 5px 50px 0px #6c44fc, 0px 0px 0px 7px rgba(107, 74, 255, 0.5);
    width: 300px;
    margin-right: auto;
    margin-left: auto;
  }

.team-img{
  height:100vh;
  width: 100vw;
  background-image: url('./../../assets/ecellbg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-img_wrapper{
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.4);
}

.gal-header_border{
  height: 3.5px;
  width: 130px;
  background-color: white;
  margin-left: 60px;
  border-radius: 360px;
}

.gal-yearwise-header_border{
  width: 475px;
}

.gal-header_wrapper{
  position: relative;
  padding: 30px 10px;
  font-size: 45px;
  font-weight: 500;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gal-yearwise-header_wrapper{
  top: 40vh;
}

.img-cards_wrapper{
  top: -35vh;
  display: flex;
  position: relative;
  justify-content: center;
}

.img-cards{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.img-modal{
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 200000;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
}

.modal-active{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-active img{
  max-width: 100%;
  max-height: 90vh;
  object-fit: cover;
}

.modal-active .img-modal-controllers{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: right;
}

.modal-active .img-modal-btn{
  color: white;
  font-size: 40px;
  min-width: 10vw;
  max-width: 15vw;
  text-align: left;
  width: 85px;
  cursor: pointer;
}

.modal-inactive{
  display: none;
  overflow: hidden;
}

@media(max-width:465px){
      .header66{
          font-size: 28px;
          width: 200px;
      }

      .lgback{
          font-size: 20px;
          
      }
  }

  @media(max-width:380px){
    .lgback{
        font-size: 16px;        
    }
}

.position11{
    text-align: center;
    color: #7C4295;
    background: white;
    
    padding: 10px;
    font-weight: 800;
    font-size: 30px;
    letter-spacing: 1px;
    width: 400px;
    margin-right: auto;
    margin-left: auto;

  }

  @media(max-width:450px){
    .position11{
      font-size: 25px;
      width: 350px;
    }
  }

  @media(max-width:400px){
    .position11{
      font-size: 22px;
      width: 300px;
    }
  }

  @media(max-width:350px){
    .position11{
      font-size: 18px;
      width: 270px;
    }
  }

@media(max-width:1000px){
  .team-img{
    height: 75vh;
  }

  .img-cards_wrapper{
    top: -12.5vh;
  }

  .gal-header_wrapper{
      padding: 15px 20px;
      font-size: 35px;
  }
  .gal-yearwise-header_wrapper{
    top: 47.5vh;
  }

  .gal-header_border{
    width: 105px;
    margin-left: 50px;
    height: 3px;
  }
  .gal-yearwise-header_border{
    width: 370px;
  }
}
 
@media(max-width:800px){
  .team-img{
    height: 70vh;
  }

  .gal-header_wrapper{
    padding: 15px 20px;
    font-size: 28px;
  }
  .gal-yearwise-header_wrapper{
    top: 45vh;
  }

  .img-cards_wrapper{
    top: -10vh;
  }

  .gal-header_border{
    width: 85px;
    margin-left: 40px;
    height: 2px;
  }
  .gal-yearwise-header_border{
    width: 300px;
  }
}

@media(max-width:600px){
  .team-img{
    height: 85vw;
  }
  
  .gal-header_wrapper{
    padding: 15px 20px;
    font-size: 28px;
  }
  .gal-yearwise-header_wrapper{
    top: 45vw;
  }

  .img-cards_wrapper{
    top: -15vw;
  }

  .gal-header_border{
    width: 65px;
    margin-left: 30px;
    height: 2px;
  }
  .gal-yearwise-header_border{
    width: 215px;
  }
  
  .img-cards{
    width: 80%;
  }
}