.ctn-6{
    max-width: 1500px;
    margin-top: 50px;
    color: white;
    padding: "0px 10px";
  }
  .map{
    border: 15px solid skyblue;
    outline: 2px dashed white;
    outline-offset: -8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input{
    margin: 2px;
    width: 90%;
    border-radius: 5px;
    padding: 5px;
    font-weight: 500;
    color: white;
    border: 3px solid white;
    background-color: #000037;
  }
  
  textarea{
    margin: 2px;
    width: 90%;
    padding: 8px;
    font-weight: 600;
    color: white;
    border: 3px solid white;
    background-color:  #000037;
  }

  .fab{
    font-size: 1.5rem;
    margin: 5px;
  }
  
  .submit{
    margin: 2px 5px;
    padding: 5px 10px;
    color: white;
    background: maroon;
    font-weight: 600;
    font-size: 15px;
    border: none;
    border-radius: 5px;
  }
  
  .contact-heading{
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
  }
  .heading-line{
    background: white;
    padding: 3px;
    width: 150px;
    border-radius: 10px;
    margin-left: 50px;
    margin-bottom: 15px;
  }
  .contact-heading h1{
    font-size: 2rem;
  }
  .sub-head{
    font-size: 1.2rem;
    margin: 10px;
  }
  .summary{
    font-size: 0.8rem;
  }
  .social-icons{
    margin: 5px;
  }
  @media(min-width:992px){
    .ctn{
      margin-top: 100px;
      padding: 30px;
    }
    .form-section{
      border-right: 3px solid white;
    }
    input{
      margin: 10px;
      padding: 10px;
    }
    .contact-heading h1{
      font-size: 3rem;
    }
    .heading-line{
      margin-bottom: 100px;
      margin-left: 100px;
    }
    .sub-head{
      font-size: 2rem;
      margin: 20px;
    }
    .summary{
      font-size: 1.3rem;
      margin: 10px;
      padding: 20px;
    }
    .fab{
      font-size: 2rem;
    }
    textarea{
      margin: 5px;
    }
    .submit{
      padding: 15px;
      font-size: 1rem;
    }
    .mobile-number{
      margin-bottom: 20px;
    }
  }