.link-header{
    font-size: 20px !important;
    font-weight: 500 !important;
}

.link-header_wrapper{
    padding: 15px 0px;
}

@media(max-width:1000px){
    .link-header{
        font-size: 17.5px !important;
    }
    
    .link-header_wrapper{
        padding: 15px 0px;
    }   
}

@media(max-width:800px){
    .link-header{
        font-size: 15px !important;
    }
    
    .link-header_wrapper{
        padding: 10px 0px;
    }   
}

@media(max-width:600px){
    .link-header{
        font-size: 15px !important;
    }
    
    .link-header_wrapper{
        padding: 10px 0px;
    }   
}